<main class="page">
  <section class="page__main main">
    <div class="main__container">
      <div class="main__content">
        <h1 class="main__title">Мої модулі</h1>
      </div>
    </div>
    <section class="moduls">
      <div class="moduls__container">
        <div class="moduls__blocks">
          <article class="moduls_block block-modul">
            <button draggable="true" class="block-modul button">
              <a href="#" class="block-modul__link">
                <div class="block-modul__body">
                  <div class="block-modul__title"></div>
                  <div class="modul__promt">
                    <div class="block-modul">
                    </div>
                  </div>
                </div>
              </a>
            </button>
          </article>

          <article class="moduls_block block-modul">
            <button draggable="true" class="block-modul button">
              <a href="#" class="block-modul__link">
                <div class="block-modul__body">
                  <div class="block-modul__title">Name</div>
                  <div class="modul__promt">
                    <div class="block-modul">
                      тут інфа про модуль
                    </div>
                  </div>
                </div>
              </a>
            </button>
          </article>

          <article class="moduls_block block-modul">
            <button class="block-modul button">
              <a href="#" class="block-modul__link">
                <div class="block-modul__body">
                  <div class="block-modul__title">Name</div>
                  <div class="modul__promt">
                    <div class="block-modul">
                      тут інфа про модуль
                    </div>
                  </div>
                </div>
              </a>
            </button>
          </article>

        </div>
      </div>
    </section>
  </section>
</main>