<header class="header">
  <header class="header__container">
    <a class="header__logo" href="#" draggable="false"><img src="logo.svg" alt="D" draggable="false"></a>
    <nav class="header__menu contentCenter">
      <ul class="menu__list">
        <li class="menu__contentCenter">
          <form action="" class="search">
            <label class="search__label">
              <input type="text" class="search__input" placeholder="Пошук...">
            </label>
          </form>
        </li>
      </ul>
    </nav>

    <nav class="header__menu contentRight">
      <ul class="menu__list">
        <li class="menu__contentRight">
          <button><a href="#" draggable="false">
              <img src="add_button.svg" alt="add"> </a></button>

        </li>
        <li class="menu__contentRight"><button><img src="profile.svg" draggable="false" alt="profile"></button>
        </li>
      </ul>
    </nav>
  </header>
</header>
<router-outlet></router-outlet>

<footer class="footer__container">Дно</footer>